<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="../stylesheets/style.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<body>
  <form action="/create" method="post">
    <div id="main">
      <h1>To Do List :-</h1>
      <div id="section"> 
        <% data.forEach(function(e){  %>

         
          <div class="inner">
            <h4><%= e.task %></h4>
            <h4><%= `${e.time.getHours()%12}:${e.time.getMinutes()}` %></h4>
            <a href="/delete/<%= e._id %>"><i class="ri-delete-bin-line"></i></a>
          </div>
       <% }) %>
       
      <input type="text" name="task" placeholder="Add task to do.....">
      </div>
    </div>
  </form>
 
</body>
</html>
